<ul>
    <li><a href="/Client">Активные заказы</a></li>
    <li><a href="/Client/NoActiveOrderList">Неактивные заказы</a></li>
    <li><a href="/Client/Settings">Настройка</a></li>
    <li><a href="/Client/DoorControl">Управление</a></li>
    <li><a href="/Client/logout">Выход</a></li>

</ul>