<% include ./layout/header.ejs%>

<h1>Вход</h1>

<form method="post" name="adminEnter">
    <label>Логин</label></br>
    <input type="text" name="adminLogin" /></br></br>
    <label>Пароль</label></br>
    <input type="text" name="adminPassword" /></br></br>
    <input type="submit" value="Войти" />
</form>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    $("form").submit(function(e) {

        e.preventDefault();
        const adminEnterForm = document.forms["adminEnter"];
        const adminLogin = adminEnterForm.elements["adminLogin"].value;
        const adminPassword = adminEnterForm.elements["adminPassword"].value;

        $.ajax({
            type: "POST",
            url: "/Admin/Enter",
            data: JSON.stringify({adminLogin: adminLogin, adminPassword: adminPassword}),
            dataType: "json",
            contentType: "application/json"
        }).done(function(data) {
            console.log(data);
            $(location).attr('href', '/Admin');
        })
    });
</script>

<% include ./layout/footer.ejs%>