<ul>
    <li><a href="/Admin">Add Client</a></li>
    <li><a href="/Admin/ClientList">Client List</a></li>
    <li><a href="/Admin/NotVerificationClientList">Not Confirm Client List</a></li>
    <li><a href="/Admin/AddService">Add Service</a></li>
    <li><a href="/Admin/ServiceList">Service List</a></li>
    <li><a href="/Admin/NotVerificationServiceList">Not Confirm Service List</a></li>
    <li><a href="/Admin/logout">Exit</a></li>
</ul>