<ul>
    <li><a href="/Service">Активные заказы</a></li>
    <li><a href="/Service/AddOrder">Создать заказ</a></li>
    <li><a href="/Service/NoActiveOrderList">Неактивные заказы</a></li>
    <li><a href="/Service/logout">Выход</a></li>
</ul>