<% include ../layout/header.ejs%>
<% include ../menu.ejs%>

<h1>Новый сервис</h1>
<form method="post" name="addService">
    <label>Логин</label></br>
    <input type="text" name="serviceLogin" /></br></br>
    <label>Пароль</label></br>
    <input type="text" name="servicePassword" /></br></br>
    <input type="submit" value="Добавить сервис" />
</form>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    $("form").submit(function(e) {

        e.preventDefault();
        const addServiceForm = document.forms["addService"];
        const serviceLogin = addServiceForm .elements["serviceLogin"].value;
        const servicePassword = addServiceForm .elements["servicePassword"].value;

        $.ajax({
            type: "POST",
            url: "/Admin/AddService",
            data: JSON.stringify({serviceLogin: serviceLogin, servicePassword: servicePassword}),
            dataType: "json",
            contentType: "application/json"
        }).done(function(data) {
            console.log(data);
            $(location).attr('href', '/Admin/AddService');
        })
    });
</script>

<% include ../layout/footer.ejs%>